bootstrap4==0.1.0
certifi==2021.5.30
checksum==1.0.4
click==7.1.2
collection==0.1.6
Counter==1.0.0
cryptography==2.9.2
Django==3.1.2
django-filter==2.4.0
django_heroku==0.3.1
django-svg-image-form-field==1.0.0
django-widget-tweaks==1.4.8
docutils==0.16
entrypoints==0.3
gunicorn==20.1.0
imutils==0.5.4
Jinja2==2.11.2
payments==0.2
paytm-pg==1.0.9
paytmchecksum==1.7.0
pipenv==2020.11.15
urllib3==1.25.9
utils==1.0.1
validators==0.18.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
